@import url('https://fonts.googleapis.com/css2?family=Rubik+Wet+Paint&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100vw;
    height: 100vh;
    background-color: rgb(247, 216, 204);
}

.container{
    display: grid;
    justify-content: space-around;
    width: 100%;
    height: 55px;
    grid-template-areas: "logoArea navArea btn";
    /* background-color: #e3e854; */
    /* margin-top: 5px; */
}

/* .logoarea, .navbar, .contbtn{
    border: 2px solid black;
} */

.logoarea{
    display: flex;
    justify-content: center;
    align-items: center; 
}

.logoarea span{
    font-size: 2rem;
    font-family: "Rubik Wet Paint", serif;
    color: black;
}

.navbar nav ul{
    display: none;
    /* margin-top: 5px; */
    /* gap: 30px; */
}

@media  screen and (min-width: 780px) {
    .navbar nav ul{
        display: flex;
    }
    
}
.navbar nav ul li{
    display: flex;
    height: 100%;
    width: 100%;
    flex-direction: row;
    align-items: center;
    list-style: none;
    font-size: 1.1rem;  
    text-align: center; 
}

.navbar nav ul li a{
    height: 55px;
    flex-direction: row;
    align-items: center;
    text-decoration: none;
    padding: 17px;
    color: rgb(35, 34, 34);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#navArea li a:hover{
    background-color: rgb(250, 94, 37);
    color: white;
}

.contbtn{
    margin-top: 27px;
}
.contbtn a{
    padding: 10px;
    width: 110px;
    border-radius: 8px;
    background-color: rgb(250, 94, 37);
    text-decoration: none;
    border: none;
    color: white;
    font-size: 1rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.contbtn a:hover{
    background-color:rgb(255, 179, 0);
    color: black;
    /* font-weight: bold; */
}
#logoArea{
    grid-area: logoArea
}

#navArea{
    grid-area: navArea;
}

#btn{
    grid-area: btn;
}
