@import url('https://fonts.googleapis.com/css2?family=Rubik+Wet+Paint&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100vw;
    height: 100vh;
}

.container{
    display: grid;
    justify-content: space-around;
    width: 100%;
    height: 55px;
    grid-template-areas: "logoArea navArea btn";
    /* margin-top: 5px; */
}

/* .logoarea, .navbar, .contbtn{
    border: 2px solid black;
} */

.logoarea{
    display: flex;
    justify-content: center;
    align-items: center;  
}

.logoarea span{
    font-size: 2rem;
    font-family: "Rubik Wet Paint", serif;
    color: black;
}

.navbar nav ul{
    display: flex;
    gap: 35px;
    margin-top: 18px;
}

.navbar nav ul li{
    list-style: none;
    font-size: 1.1rem;
}

nav ul li a{
    text-decoration: none;
    color: black;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.contbtn button{
    margin-top: 10px;
    padding: 10px;
    width: 110px;
    border-radius: 8px;
    background-color: rgb(250, 94, 37);
    border: none;
    color: white;
    font-size: 1rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#logoArea{
    grid-area: logoArea
}

#navArea{
    grid-area: navArea;
}

#btn{
    grid-area: btn;
}
