@import url('https://fonts.googleapis.com/css2?family=Rubik+Wet+Paint&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100%;
    background-color: rgb(247, 216, 204);
}

.container{
    display: grid;
    justify-content: space-around;
    width: 100%;
    height: 55px;
    grid-template-areas: "logoArea navArea btn";
    /* background-color: #e3e854; */
    /* margin-top: 5px; */
}

/* .logoarea, .navbar, .contbtn{
    border: 2px solid black;
} */

.logoarea{
    display: flex;
    justify-content: center;
    align-items: center; 
}

.logoarea span{
    font-size: 2rem;
    font-family: "Rubik Wet Paint", serif;
    color: black;
}

.navbar nav ul{
    display: none;
    /* margin-top: 5px; */
    /* gap: 30px; */
}

@media  screen and (min-width: 780px) {
    .navbar nav ul{
        display: flex;
    }
    
}
.navbar nav ul li{
    display: flex;
    height: 100%;
    width: 100%;
    flex-direction: row;
    align-items: center;
    list-style: none;
    font-size: 1.1rem;  
    text-align: center; 
}

.navbar nav ul li a{
    height: 55px;
    flex-direction: row;
    align-items: center;
    text-decoration: none;
    padding: 17px;
    color: rgb(35, 34, 34);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#navArea li a:hover{
    background-color: rgb(250, 94, 37);
    color: white;
}

.contbtn{
    display: none;
    margin-top: 25px;
}

@media screen and (min-width:780px){
    .contbtn{
        display: block;
    }
}
.contbtn a{
    padding: 10px;
    width: 110px;
    border-radius: 8px;
    background-color: rgb(250, 94, 37);
    text-decoration: none;
    border: none;
    color: white;
    font-size: 1rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.contbtn a:hover{
    background-color:rgb(255, 179, 0);
    color: black;
    /* font-weight: bold; */
}
#logoArea{
    grid-area: logoArea
}

#navArea{
    grid-area: navArea;
}

#btn{
    grid-area: btn;
}

.menu-icon img{
    height: 25px;
    width: 25px;
    margin-top: 2.5px;
}

.menu-icon{
    display: none;
    margin-top: 10px;
    height: 30px;
    width: 30px;
    border: none;
    border-radius: 2px;
    background-color: rgb(250, 94, 37);
}

@media screen and (max-width: 780px) {
    .menu-icon{
        display: block;
        cursor: pointer;
    }
}

main{
    padding: 2rem;
    /* border: 2px solid red; */
}

.main-container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    margin-top: 20px;
}

.content-container{
    width: 40%;
    padding: 1rem;
    animation: slideFrame 1.5s ease forwards;
}

@keyframes slideFrame {
    0% {
        opacity: 0;
        transform: translateX(-100%);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

.content-container span{
    padding: 1rem;
    color: orangered;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 550;
}

.content-container h1{
    padding: 1.1rem 1rem;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 800;
    font-size: 2.3rem;
    line-height: 2.3rem;
}

.content-container p{
    padding: 1rem;
    padding-bottom: 2rem;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
    text-align: justify;
}

.content-container a{
    text-decoration: none;
    /* border: 2px solid orangered; */
    padding: 8px;
    margin-left: 14px;
    background-color: rgb(250, 94, 37);
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    border-radius: 5px;
}

.content-container #btn2{
    background-color: black;
    color: white;
    border-radius: 5px;
}

.content-container #btn1:hover{
    background-color: rgb(241, 89, 34);
    color: white;
}

.content-container #btn2:hover{
    background-color: rgb(60, 59, 59);
    color: white;
}

.image-container{
    width: 28%;
    height: 450px;
    padding: 5px;
    animation: imageFrame 1.5s ease forwards;
}

@keyframes imageFrame {
    0% {
        opacity: 0;
        transform: translateY(150px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.image-container img{
    border-radius: 15px;
    /* box-shadow: 10px 8px rgb(141, 65, 91); */
    box-shadow: 5px 5px 15px rgb(72, 45, 54);
}

@media screen and (max-width: 850px) {
    .main-container{
        flex-direction: column;
    }
    
    .main-container .content-container{
        width: 100%;
        text-align: center;
    }

    .main-container .content-container p{
       text-align: center;
    }

    .main-container .image-container{
        width: 80%;
    }

    .image-container{
        animation: slideFrame 1.5s ease forwards;
    }

}

.trusted-container{
    margin: 3rem auto;
    /* border: 2px solid black; */
}

.brand{
    animation: slideFrame 1.5s ease forwards;
}

.logo{
    width: 20px;
    height: 20px;
}

.trusted-container h2{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    font-size: 1.5rem;
    margin-top: 1rem;
}

.brand-logo-name {
    justify-self: center;
}

.brand-logo-name span{
    font-size: 1.2rem;
    font-family: Arial, Helvetica, sans-serif;
    color: gray;
    font-weight: bolder;
}

.brands-container{
    width: 50%;
    display: grid;
    /* grid-template-columns: repeat(4, 1fr); */
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    gap: 2px;
    margin: 1rem auto;
    padding: 1.5rem;
    border: 1px solid rgb(248, 238, 238);
    background-color: rgb(248, 238, 238);
    border-radius: 10px;
}

@media screen and (max-width: 780px){
    .brands-container{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 3rem;
        padding: 1.5rem 0.5rem;
    }

    .brand-logo-name {
        justify-self: center;
    }

    .brand{
        animation: slideFrame 1.5s ease forwards;
    }
}


