@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap'); 

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: aqua;
}

.parent-box{
    background-color: white;
    width: 50%;
    height: 590px;
    margin: 5% auto;
    display: flex;
    flex-direction: row;
    border-radius: 10px;
}

.child-box1{
    position: relative;
    border: 2px solid red;
    width: 50%;
    border-radius: 10px;
}
.child-box2{
    border: 2px solid rgb(44, 167, 10);
    width: 50%;
    border-radius: 10px;
    padding: 5%;
}

.product-section{
    background-color: #ace72d;
    width: 95%;
    height: 83%;
    position: absolute;
    margin-left: -50px;
    margin-top: 50px;
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.icon-section{
    display: flex;
    justify-content: space-between;
    padding: 0.8rem 0.8rem 0 0.8rem;
    font-size: 1.5rem;
    color: white;

}

.product-section .apple-image{
    margin-left: -70px;
    width: 355px;
    height: 405px;
}

.product-view{
    background-color: white;
    height: 20%;
    border-radius: 0 0 15px 15px;
    display: flex;
    flex-direction: row;
    padding: 1rem;
    justify-content: space-around;
    /* border: 2px solid red; */
}

.product-view .img{
    width: 60px;
    height: 60px;
    border: 2px solid #c8e681;
    border-radius: 2px;
}

.product-view #img-rotate{
    transform: rotate(180deg);
}

.product-name{
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
}
/* h6{
    padding: 1rem 0 1rem 0;
    font-family: 'Courier New', Courier, monospace;
    font-size: 2rem;
} */