/* body::-webkit-scrollbar {
    display: none;
  } */


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav{
    width: 100%;
    overflow-x: none;
}

#navlist{
    list-style: none;
    font-size: 2rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* margin-right: 15px;
    margin-left: 15px; */
    width: 100%;
    padding: 15px;
}

.container{
   height: 100%;
   width: 100%;
   overflow-x: hidden; 
   background: linear-gradient(to bottom, #D2665A 0%, #F2B28C 75%, #F6DED8 100%);
}
.navContainer{
    width: 100vw;
    background: linear-gradient(to right, #9A031E 0%, #5F0F40 100%);
    /* background-color: rgb(101, 101, 162); */
    /* background-image: linear-gradient(to right, #f43b47 0%, #453a94 100%); */
    min-height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

#logoName{
    font-size: 3rem;
    color: azure;
    text-decoration: none;
}

a{
    text-decoration: none;
    color: azure;
}

#navItems{
    display: flex;
    gap: 40px;
}

.footerBox{
    background: linear-gradient(to right, #9A031E 0%, #5F0F40 100%);
    width: 100%;
    text-align:center;
    min-height: 20px;
}

.footerBox p{
    color: azure;
    font-size: 1.5rem;
}

/* .contentBox{
    width: 70%;
    margin: auto;
    border: 1px solid black;
    background-color:  #d29788;
} */

.item{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.rightBox{
    position: relative;
    overflow: hidden;
    border-radius: 50%;
    transition: all 0.6s 0s linear;
    box-shadow: 1px 1px 15px black;
    height: 200px
}

.rightBox img{
    width: 200px;
    height:100%;
    border-radius: 50%;
    transition: all 0.6s 0s linear;

}

.rightBox:hover{
    transform: scale(1.3);
    /* border-radius: 20%; */
}


.contentBox{
    display: flex;
    width: 60%;
    margin: auto;
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 3rem;
    border: 1px solid #9A031E;
    border-radius: 8px;
    background-color: #eccec6;
    flex-direction: column;
    gap: 100px;
    box-shadow: 0px 0px 30px black; 
}

.leftBox{
    display: flex;
    flex-direction: column;
    gap: 20px;
    /* font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; */
}

.leftBox h2{
    font-size: 2rem;
}

.leftBox h3{
    font-size: 1.5rem;
}

.ingredientBox{
    font-size: 1.2rem;
}

.recipeBox{
    font-size: 1rem;
}

.rightBox .overlay{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    border-radius: 50%;
    background-color: #593e4fc7;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: all 0.6s 0s linear;
}

.rightBox:hover .overlay{
    opacity: 1;
    transform: scale(1.3);
}

.rightBox .overlay span{
    color: white;
    font-size: 0.7rem;
}
