@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    color: rgb(50, 49, 49);
}

.container{
    height: 100%;
    width: 100%;
    background-color: #F9F7C9;
    padding: 7.4rem 0;
}

.price-plan-container{
    width: 90%;
    max-width: 1000px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 60px;
}

.price-plan{
    background-color: whitesmoke;
    text-align: center;
    border-radius: 20px;
    cursor: pointer;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    transition: all .2s ease-in;
}

.price-plan:hover{
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}

.price-plan .title{
    padding: 11% 0;
    border-radius: 20px 20px 0px 0px;
}

.title i{
    font-size: 3rem;
    color: white;
}

.title h4{
    font-size: 1.3rem;
    color: white;
    text-transform: uppercase;
}

.price-plan .plan-info{
    padding: 2% 10%;
    color: black;
}

.plan-info h6{
    font-size: 1.5rem;
    font-weight: 400;
    margin-bottom: 15px;
    color: #27445D;
}

.plan-info span{
    font-size: 3rem;
    font-weight: 700;
    color: #27445D;
}

.plan-info ul li{
    list-style-type: none;
    margin-bottom: 5px;
}

.plan-info ul li::before{
    content: '\1F5F8';
    color: #27445D;
    font-weight: bolder;
    margin-right: 15px;
}

button{
    width: 90%;
    padding: 10px 5px;
    margin-top: 2rem;
    border-radius: 10px;
    border: none;
    color: white;
    font-size: 1.2rem;
    text-transform: uppercase;
    margin-bottom: 1rem;
    cursor: pointer;
    transition: all .5s ease;
}

.bgcolor1{
    background-color: #FFCF50;
}

#bg1:hover{

    background-color: #e5a80d;
    transform: scale(1.1);
    border-radius: 50px;
}

.bgcolor2{
    background-color: #EC7FA9;
}

#bg2:hover{
    background-color: #f7498b;
    transform: scale(1.1);
    border-radius: 50px;
}

.bgcolor3{
    background-color: #A4B465;
}

#bg3:hover{
    background-color: #a2c419;
    transform: scale(1.1);
    border-radius: 50px;
}