@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    color: rgb(50, 49, 49);
}

.container{
    height: 100wh;
    width: 100%;
    background-color: bisque;
    padding: 5rem 0;
}

.price-plan-container{
    width: 90%;
    max-width: 1020px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 60px;
}

.price-plan{
    background-color: whitesmoke;
    text-align: center;
    border-radius: 20px;
}

.price-plan .title{
    padding: 5% 0;
    border-radius: 20px 20px 0px 0px;
}

.title i{
    font-size: 3rem;
    color: white;
}

.title h4{
    font-size: 1.3rem;
    color: white;
    text-transform: uppercase;
}

.price-plan .plan-info{
    padding: 2% 10%;
    color: black;
}

.plan-info h6{
    font-size: 1.5rem;
    font-weight: 400;
    margin-bottom: 15px;
}

.plan-info span{
    font-size: 3rem;
    font-weight: 700;
}

.plan-info ul li{
    list-style-type: none;
    margin-bottom: 5px;
}

.plan-info ul li::before{
    content: '\1F5F8';
    color: #891652;
    font-weight: bolder;
    margin-right: 15px;
}

button{
    width: 100%;
    padding: 10px 5px;
    margin-top: 2rem;
    border-radius: 50px;
    border: none;
    color: white;
    font-size: 1.2rem;
    text-transform: uppercase;
}

.bgcolor1{
    background-color: #FFA725;
}