
div{
    background-color: rgb(246, 186, 112);
}

.fruits{
    background-color: rgb(56, 231, 172);
}

#ID2{
    background-color: rgb(200, 124, 26);
}

.juicy{
    background-color: rgb(250, 203, 133);
}